// google fonts
$main-font          : "Lato", Helvetica, Arial, sans-serif !important;
$second-font        : "Inconsolata", Times, serif !important;

// 
// Colors
// --------------------------------------
$color1   : #FECB00;  // amarillo carofile
$color2   : #831f82;  // morado
$color3   : #e6007e; // magenta
$color4   : #169fdb;  // cyan


$colorf   : #ffffff;
$color0   : #1e1e1e;
// 
// greys
// 
$grey1    : #3c3b3a;
$grey2    : #585756;
$grey3    : #706f6f;
$grey4    : #868686;
$grey5    : #9c9c9b;
$grey6    : #b1b1b0;
$grey7    : #c7c5c5;
$grey8    : #e3e3e3;
$grey9    : #e9e9e9;
$grey10   : #eeefef;
$grey11   : #f4f3f4;
$grey12   : #f9f9f9;

// Colors Map
$colors: (
  "f":      $colorf,
  "body":   $colorf,
  "font":   $colorf,
    "0":        $color0,
  "1":    $color1,
  //"2":    $color2,
  //"3":    $color3,
  //"4":    $color4,
  "grey1":    $grey1,
  "grey2":    $grey2,
  "grey3":    $grey3,
  "grey4":    $grey4,
  "grey5":    $grey5,
  "grey6":    $grey6,
  "grey7":    $grey7,
  "grey8":    $grey8,
  "grey9":    $grey9,
  "grey10":   $grey10,
  "grey11":   $grey11,
  "grey12":   $grey12,
);

// Basic theme colors
$bodyBgColor: $grey12;
$bodyFontColor: $grey3;
$linksColor: $color1;