/**--------------------------------------
 * --------------------------------------
 *
 * Margins children
 *
 * --------------------------------------
 * -------------------------------------- */
$margin-children-class: "mc";
$children-margin-position: left,right;

@each $side in $children-margin-position {
    @each $size, $value in $spaces {
        // Default salto
        .#{$margin-children-class}#{short-position($side)}-#{$size} { 
            > * {
                margin-bottom: $value;
                margin-#{$side}: $value;
            }
        }
    }
}