/**--------------------------------------
 * --------------------------------------
 *
 * 01. header fixed with toggle button
 * in all versions.
 *
 * --------------------------------------
 * -------------------------------------- */
//
// Header
//

// heights
$appHeader-height           : $size-rem-md;

//
// Logo
// 
// Select using <img> or CSS background 
// at logo. Leave this blank '' to use <img>.
$appLogo-margin             : 0 $space-sm; 
$appLogo-img                : 'assets/img/shine-coaching-logo.svg'; 
$appLogo-img                : ''; 
$appLogo-img-no-svg         : 'assets/img/shine-coaching-logo.png'; 

//
// Nav Toggle
//
$appToggle-fs               : $h3-fs;
$appToggle-position         : left;
$appToggle-color            : $color1;
$appToggle-bg               : transparent;
$appToggle-bt-color         : $color1;
$appToggle-bt-color_active  : $color1;

//
// App Sidebar
//
$appCol-width       : $size-rem-xl;
$appCol-padding     : $space-sm;

//
// Nav Main
//
$appNav-font            : $main-font;
$appNav-fs              : $p-sm;
$appNav-lh              : $lh-xs;
$appNav-color           : $colorf;
$appNav-bg              : $color1;
$appNav-child-bg        : $color3;
$appNav-child-color     : $color1;
$appNav-item-padding    : 12px 16px;


//
// App Content
//
$app-content-padding    : $padding-md;

// Envoltura si tenemos varíos
.l-01{}
// 
// Branding area
// 
#app-topbar{
    height: $appHeader-height; 
    background-color: $grey12;
    z-index: $z7;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    @include shadow(0 8px 5px -5px rgba(0, 0, 0, 0.1));
}

#app-logo{
    display: inline-block;
    margin: $appLogo-margin;
    line-height: $appHeader-height;
    height: $appHeader-height;
    
    a{
        display: block;
        padding: $space-sm 0;
        height: $appHeader-height;

        //c-h-md c-m-sm-left
    }
    img{
        display: block;
        max-height: 100%;
        //c-img-h c-m-sm c-h-sm
    }
}

// 
// Menu toggle
//         
#nav-toggle{
    background: transparent;
    margin: 0;
    color: $appToggle-color;
    @include square-make($appHeader-height);
    float: right;

    [class*="#{$icons-class}"]{
        line-height: $appHeader-height;
        &:before {
            content: $i-menu-4;
        }
    }

    &[aria-expanded="true"] {
        [class*="#{$icons-class}"]:before {
            // I cross 4 linearicons
            //content:"\e870";
            // I cross bonicons
            content: $i-cross;
        }
    }
}