/**--------------------------------------
 * --------------------------------------
 *
 * Curtains
 *
 * --------------------------------------
 * -------------------------------------- */
$curtain-class: 'c-curtain';

// Curtain wrappert
.#{$curtain-class}-ct{
    position:relative;
    overflow: hidden;
}

@include media-query('sm'){
    .#{$curtain-class}-ct:hover {
        .#{$curtain-class} {
            opacity: 1;
            visibility: visible;
            @include translate(0,0);
        }
    }
}


.#{$curtain-class} {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    right: 0;
    @include transition(650ms cubic-bezier(0,0.7,0.5,1) 100ms);
    opacity: 0;
    visibility: hidden;
    // Curtain default and from Top
    &--t {
        @include translate(0, -100%);
    }

    // Curtain from right
    &--r {
        @include translate(100%,0);
    }

    // Curtain from bottom
    &--b {
        @include translate(0, 100%);
    }

    // Curtain from left
    &--l {
        @include translate(-100%,0);
    }

    &.is_on{
        opacity: 1;
        visibility: visible;
        @include translate(0,0);
    }
}
