/**--------------------------------------
 * --------------------------------------
 *
 * Full height presentation module
 * 
 * --------------------------------------
 * -------------------------------------- */
.toggle-box {
  // feature boxes
  &--feature {
    height: 360px;
    @include media-query('sm'){
      height: 400px;
    }
    @include media-query('md'){
      height: 520px;
    }
  }

  // person boxes and posts
  &--post,
  &--person {
    display: flex;
    height: 360px;
  }
  
  &__toggle {
    z-index: $z6;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: 0;
    
    &:before {
      font-size: $icon-font;
      content: $i-plus;
    }

    &[aria-expanded=true]{
      &:before{
        content: $i-cross;
        color: $color0;
      }
    }
  }
}

.toggle-box,
.toggle-curtain {
  border: 4px solid green !important;
  // box contain
  &__ct {
    padding: $padding-2;border: 4px solid green !important;
    @include media-query('sm'){
      padding: $padding-px-sm;
    }  
  }  
}

