/**--------------------------------------
 * --------------------------------------
 *
 * Images
 *
 * --------------------------------------
 * -------------------------------------- */
.c-img-rd,
.c-img{
    display: block;
    max-width: 100% !important;
    height: auto;
}
.c-img-h{
	display: block;
    max-height: 100% !important;
    width: auto;
}

.c-img-rd,
.circled {
    @include border-radius(50%);
}