/**--------------------------------------
 * --------------------------------------
 *
 * 01. header fixed with toggle button
 * in all versions.
 *
 * --------------------------------------
 * -------------------------------------- */
//
// Header
//

// heights
$appHeader-height           : $size-rem-md;
$appHeader-bg               : $grey12;

// Logo
// 
// Select using <img> or CSS background 
// at logo. Leave this blank '' to use <img>.
$appLogo-margin             : 0 $space-sm; 
$appLogo-height             : 28px; 
$appLogo-height-xl          : 36px; 
$appLogo-img                : 'assets/img/shine-coaching-logo.svg'; 
$appLogo-img                : ''; 
$appLogo-img-no-svg         : 'assets/img/shine-coaching-logo.png'; 

// Nav Toggle
$appToggle-icon             : $i-menu-4;
$appToggle-icon-expanded    : $i-cross;
$appToggle-fs               : $h4-fs;
$appToggle-position         : left;
$appToggle-color            : #000000;
$appToggle-bg               : transparent;

// Nav Main
$main-nav-font          : $main-font;
$main-nav-fs            : $p-sm;
$main-nav-lh            : $lh-sm;
$main-nav-f-weight      : 700;
$main-nav-l-spacing     : 0;
$main-nav-i-padding     : $padding-sm $padding-xs;

// Colors
$main-nav-color         : $colorf;
$main-nav-active-bg     : $color0;
$main-nav-active-color  : $colorf;
$main-nav-bg            : $color1;
$main-nav-child-bg      : $grey3;
$main-nav-child-color   : $color0;
$main-nav-child-padding : $padding-xs $padding-xs;

// define screen to toggle displayed nad
$main-nav-breakpoint    : 1;
$main-nav-breakpoint-at : 'md';

//
// Nav Main after breakpoint
//
$main-nav2-fs           : 14.666px;
$main-nav2-lh           : $appHeader-height;
$main-nav2-f-weight     : 700;
$main-nav2-l-spacing    : 0px;
$main-nav2-i-padding    : 0 $size-rem-1;

// Color
$main-nav2-color        : $color0;
$main-nav2-active-bg    : $color1;
$main-nav2-active-color : $colorf;
$main-nav2-bg           : transparent;
$main-nav2-child-bg     : $color3;
$main-nav2-child-color  : $color1;

// 
// Branding area
// 
.app-header {
    height: $appHeader-height; 
    width: 100%;
    background-color: $appHeader-bg;
    @include shadow(0 8px 5px -5px rgba(0, 0, 0, 0.1));
    
    &--fixed{
        top: 0;
        right: 0;
        left: 0;
        z-index: $z7;
        position: fixed;
        
    }
}

.app-logo {
    display: inline-block;
    margin: $appLogo-margin;
    line-height: $appHeader-height;
    height: $appHeader-height;
    
    &__link {
        display: block;
        padding: 0;
        font-size: $h2-fs;
        height: $appHeader-height;
        line-height: $appHeader-height;
        @extend .is_v-center-xs;
    }

    &__img {
        display: block;
        max-height: 100%;
        height: $appLogo-height;
        
        @include media-query('xl'){
            height: $appLogo-height-xl;
        }
    }
}

// 
// Menu toggle
//         
.app-nav-toggle {
    background: $appToggle-bg;
    margin: 0;
    color: $appToggle-color;
    float: right;
    @include square-make($appHeader-height);

    &__icon{
        @extend %icon;
        font-size: $appToggle-fs;
        line-height: $appHeader-height;

        &:before {
            content: $appToggle-icon;
        }
    }

    &[aria-expanded="true"] {
        [class*="#{$icons-class}"]:before {
            content: $appToggle-icon-expanded;
        }
    }
}

.app-nav{
    //margin-top: $appHeader-height;
    background-color: $main-nav-bg;
    //border: 4px solid green !important;
    overflow: hidden;

    // just mobile
    position: fixed;
    top: $appHeader-height;
    height: 0;
    left: 0;
    right: 0;
    z-index: $z6;
    font-family: $main-nav-font;

    &.is_on {
        height: auto;
    }

    &__list {
        @include l-reset();
    }
    &__item {
        position: relative;
    }

    &__link {
        font-size: $main-nav-fs;
        line-height: $main-nav-lh;
        letter-spacing: $main-nav-l-spacing;
        font-weight: $main-nav-f-weight;
        color: $main-nav-color;
        display: block;
        padding: $main-nav-i-padding;
        // bootstrap scrollSpy
        
        // active link
        &--active { 
            background-color: $main-nav-active-bg;
            color: $main-nav-active-color;
            text-decoration: underline;
        }
    }

}

.app-subnav{
    @include l-reset();
    //@include box-shadow( 0 2px 2px -1px black(.1));
    // managed by superfish
    //display: none;
    z-index: $z3;
    //background-color: ;
    &__item {
        display: block;
        width: 100%;
        text-align: inherit;
        background-color: $main-nav-child-bg;
    }

    &__link{
        line-height: $main-nav-lh;
        color: $main-nav-child-color;
        padding: $main-nav-child-padding;
        display: block;
        font-size: $main-nav-fs;
    }

}

// bigger screen breackpoint
@if($main-nav-breakpoint == 1){
@include media-query($main-nav-breakpoint-at){
    .app-nav-toggle {
        display: none;
    }
    .app-nav{
        // just mobile
        position: static;
        float: right;
        overflow: visible;
        background-color: $main-nav2-bg;
        
        &__item{
            float: left;
            position: relative;
        }

        &__link{
            display: block;
            font-size: $main-nav2-fs;
            line-height: $main-nav2-lh;
            letter-spacing: $main-nav2-l-spacing;
            font-weight: $main-nav2-f-weight;
            color: $main-nav2-color;
            padding: $main-nav2-i-padding;
            // bootstrap scrollSpy
            &--active { 
                background-color: $main-nav2-active-bg;
                color: $main-nav2-active-color;
            }
        }
    } 

    .app-subnav{
        position: absolute;
        top: $appHeader-height;
        right: 0;
        width: 160px;

        &__item{
            background-color: $main-nav2-child-bg;
            //font-size: 90%;
        }

        &__link{
            color: $main-nav2-child-color;
            line-height: $main-nav2-lh;
        }
    }
}
} // end if $main-nav-breakpoint