/**--------------------------------------
 * --------------------------------------
 *
 * Paddings
 *
 * --------------------------------------
 * -------------------------------------- */
$padding-class      : "c-p";
$space-mobile     : $space-mobile;
$space-mobile-lg  : $space-mobile-lg;

// 
/* Padding sizes mobile */
// 
@each $size, $value in $paddings {    
    
    // everywhere
    .#{$padding-class}-#{$size} { 
        padding: $space-mobile-lg $space-mobile;
    }

    // lateral
    .#{$padding-class}-#{$size}-lat{
        padding-left: $space-mobile;
        padding-right: $space-mobile;
    }

    // vertical
    .#{$padding-class}-#{$size}-vert{
        padding-top: $space-mobile-lg $space-mobile;
        padding-bottom: $space-mobile-lg $space-mobile;
    }
}




// Add extra paddings to fit with
// to elements with fixed header.
.hd-space{
    padding-top: $appHeader-height !important;
}

.hd-space-not{
    margin-top: -$appHeader-height !important;
}


/* Padding from small devices. Usually tablets */
@include media-query('sm'){

    @each $size, $value in $paddings {    
        // everywhere
        .#{$padding-class}-#{$size} { 
            padding: map-get($paddings, $size);
        }

        // lateral
        .#{$padding-class}-#{$size}-lat{
            padding-left: map-get($paddings, $size);
            padding-right: map-get($paddings, $size);
        }

        // vertical
        .#{$padding-class}-#{$size}-vert{
            padding-top: map-get($paddings, $size);
            padding-bottom: map-get($paddings, $size);
        }
    }
}



// 
/* Reset padding */
// 
.#{$padding-class}-0 { 
    padding: 0 !important;
}

.#{$padding-class}-vert-0 { 
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.#{$padding-class}-lat-0 { 
    padding-right: 0 !important;
    padding-left: 0 !important;
}