/**--------------------------------------
 * --------------------------------------
 *
 * Component Squares
 *
 * TODO: make relative sizes
 * --------------------------------------
 * -------------------------------------- */
$rem-padding-class      : "c-p-rem";

//
// Create square classes
//
[class*="#{$rem-padding-class}"] {
	display: inline-block;
}

@each $size, $value in $rem-sizes {
    .#{$rem-padding-class}-#{$size} { 
        padding: $value;
    }

        // lateral
    .#{$rem-padding-class}-#{$size}-lat{
        padding-left: $value;
        padding-right: $value;
    }

    // vertical
    .#{$rem-padding-class}-#{$size}-vert{
        padding-top: $value;
        padding-bottom: $value;
    }
}