.flex {
  &--center{
    display: flex;
    align-items: center;
  }
}

.flex-item{
  background-color: cornflowerblue;
  
  &--center{
    margin-right: auto;
    margin-left: auto;
  }
  &--left{
    margin-right: auto;
  }

  &--right{
    margin-left: auto;
  }
  
}